<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			

		</div>

	</div>


	<div class="row">
		<div class="col-sm-12"><h3>RSS DARS A (avtocesta) in G (glavna cesta)</h3></div>
		<div class="col-sm-12"> Filter: <input  id="filter" type="text" name="filter" ng-model="rssFilter">
			<button ng-click="vm.getFeed()" type="button" class="btn btn-lg">Osveži</button>
			<button ng-click="vm.getHighway()" type="button" class="btn btn-lg">Samo Avtoceste</button>

		</div>
		   
		<div class="col-sm-12">
			<div ng-repeat="rss1 in vm.rss | filter: rssFilter">
				<rss rss123="rss1"></rss>
		</div>
		  
	</div>

</div>