<br/>
<div class="card">
    <div class="card-header">
		<span style=" float: left">{{rss123.title}}</span>
		<span style="float: right;">{{rss123.date | date : 'd. MMMM, yyyy, HH:mm:ss'}}</span>

	</div>
	    <div class="card-body">
	    	<div>{{rss123.description}}<div>
	    	<div style="float: right; font-size: 70%">
	    		<div ng-repeat="cat in rss123.categories">
	    			<span >{{cat}}<span>	
	    		</div>
	    			
	    	</div>
	    	
	    </div> 

	</div>
</div>

</div>